.table{
    -webkit-box-shadow: 5px 6px 19px -2px rgba(0,0,0,0.23); 
    box-shadow: 5px 6px 19px -2px rgba(0,0,0,0.23);
    margin-right: 10px;

    .status{
        padding:5px;
        border-radius: 5px;
        &.Approved {
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
          }
          &.Pending {
            color: goldenrod;
            background-color: rgba(189, 189, 3, 0.103);
          }
    }
    .image{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }

}